$red-base-color: #df2626;
$yellow-color: #ffce00;
$white-color: #ffffff;
$black-color: #000000;

$font-family: 'Roboto', 'Arial', sans-serif;

$text-transform: uppercase;

$bold-accent: 700;

$padding-section-base: 50px;

$padding-section-tablet: 40px;
$padding-section-mobile: 40px 20px 20px 20px;

$margin-photo: 60px 0 60px 0px;

$cursor: url(../images/cursor.svg), pointer;