@import '../vendor/normalize.css';
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.ttf) format("truetype"), url(../fonts/Roboto-Regular.eot) format("eot");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.woff2) format("woff2"), url(../fonts/Roboto-Medium.woff) format("woff"), url(../fonts/Roboto-Medium.ttf) format("truetype"), url(../fonts/Roboto-Medium.eot) format("eot");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto-Bold.ttf) format("truetype"), url(../fonts/Roboto-Bold.eot) format("eot");
}
.page {
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto 0 auto;
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
}

.header__body {
  background-color: #df2626;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
@media screen and (max-width: 775px) {
  .header__body {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 540px) {
  .header__body {
    padding: 20px;
  }
}
.header__burger-menu-container {
  display: none;
}
@media screen and (max-width: 775px) {
  .header__burger-menu-container {
    background-color: #df2626;
    display: none;
    justify-content: space-between;
    align-items: center;
    min-height: 84px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__burger-menu-container_opened {
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  .header__burger-menu-container {
    min-height: 198px;
    justify-content: center;
    align-items: center;
  }
}
.header__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 351px;
}
@media screen and (max-width: 775px) {
  .header__list {
    margin-left: 40px;
  }
}
@media screen and (max-width: 540px) {
  .header__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 70px;
    display: grid;
    gap: 17px;
  }
}
.header__logo {
  width: 40px;
  height: 40px;
}
.header__logo:hover {
  cursor: url(../images/cursor.svg), pointer;
  -webkit-animation: rotation;
          animation: rotation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  animation-direction: reverse;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 775px) {
  .header__logo {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 540px) {
  .header__logo {
    width: 30px;
    height: 30px;
    z-index: 5;
  }
}
.header__burger {
  display: none;
}
@media screen and (max-width: 775px) {
  .header__burger {
    display: block;
    width: 32px;
    height: 23px;
    background-image: url(../images/burger-menu.svg);
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: url(../images/cursor.svg), pointer;
  }
}
.header__menu-burger {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 775px) {
  .header__menu-burger {
    margin-left: 40px;
  }
}
@media screen and (max-width: 540px) {
  .header__menu-burger {
    width: 100%;
    display: flex;
    max-width: 320px;
    padding: 0;
    margin: 0;
  }
}
.header__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 124%;
  text-decoration: none;
  margin: 0;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.header__link:hover {
  transition-duration: 0.2s;
  transition-timing-function: linear;
  font-weight: 700;
  font-size: 16px;
  cursor: url(../images/cursor.svg), pointer;
}
@media screen and (max-width: 540px) {
  .header__link {
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 30px;
  }
}
@media screen and (max-width: 775px) {
  .header__menu {
    display: none;
  }
}
.header__burger-menu-close {
  width: 27px;
  height: 27px;
  position: absolute;
  right: 35px;
  background-image: url(../images/close-icon.svg);
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: url(../images/cursor.svg), pointer;
}
@media screen and (max-width: 540px) {
  .header__burger-menu-close {
    top: 21px;
    right: 16px;
  }
}

.about {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, 1fr);
}
.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 139%;
  max-width: 469px;
  margin: 0;
}
@media screen and (max-width: 1338px) {
  .about__text {
    margin: 0 0 60px 0;
  }
}
@media screen and (max-width: 393px) {
  .about__text {
    font-size: 14px;
    line-height: 129%;
    max-width: 276px;
    margin: 0 0 30px 0;
  }
}
.about__title {
  font-size: 100px;
  font-weight: 400;
  line-height: 110%;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media screen and (max-width: 657px) {
  .about__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 110%;
  }
}
@media screen and (max-width: 393px) {
  .about__title {
    font-size: 47px;
    font-weight: 400;
    line-height: 119%;
    max-width: 282px;
    margin: 0;
    justify-self: center;
  }
}
.about__more-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  border: 2px solid #000000;
  border-radius: 9999px;
  height: 49px;
  width: 228px;
  background-color: #ffffff;
  padding: 9px 0 10px 0;
}
.about__more-button:hover {
  cursor: url(../images/cursor.svg), pointer;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  font-weight: 500;
}
@media screen and (max-width: 393px) {
  .about__more-button {
    font-size: 14px;
    line-height: 200%;
    height: 40px;
    width: 169px;
    padding: 0;
  }
}
.about__discription {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1338px) {
  .about__discription {
    display: flex;
  }
}
.about__photo {
  width: 100%;
  max-width: 642px;
  max-height: 555px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media screen and (max-width: 1338px) {
  .about__photo {
    max-width: 688px;
    max-height: 594px;
    padding: 60px 0 60px 0;
  }
}
@media screen and (max-width: 393px) {
  .about__photo {
    max-width: 280px;
    max-height: 242px;
    justify-self: center;
  }
}
@media screen and (max-width: 1338px) {
  .about {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 393px) {
  .about {
    padding: 14px 20px 20px 20px;
  }
}

.enroll-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  border: 2px solid #000000;
  border-radius: 9999px;
  height: 49px;
  width: 228px;
  background-color: #ffffff;
  padding: 9px 0 10px 0;
}
.enroll-button:hover {
  cursor: url(../images/cursor.svg), pointer;
  font-weight: 500;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
@media screen and (max-width: 459px) {
  .enroll-button {
    font-size: 14px;
    line-height: 200%;
    height: 40px;
    width: 169px;
    padding: 0;
  }
}
.enroll-button_type_footer {
  border-radius: 0px 8px 8px 0px;
  width: 205px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  padding: 0;
  letter-spacing: 0.375px;
}
@media screen and (max-width: 670px) {
  .enroll-button_type_footer {
    width: 118px;
    font-size: 11px;
    font-weight: 400;
    line-height: 218%;
  }
}

.composition {
  background-color: #ffce00;
  padding: 50px 50px 45px 50px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 78px 228px 1fr 189px;
}
.composition__section-name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media screen and (max-width: 1378px) {
  .composition__section-name {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 459px) {
  .composition__section-name {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
    padding-top: 20px;
    border-top: 1px solid #000000;
  }
}
.composition__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 403px;
}
@media screen and (max-width: 459px) {
  .composition__title {
    font-size: 30px;
    line-height: 127%;
  }
}
.composition__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  margin: 0;
  padding-bottom: 20px;
  max-width: 688px;
}
@media screen and (max-width: 1378px) {
  .composition__text:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 1378px) {
  .composition__text:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
@media screen and (max-width: 1378px) {
  .composition__text {
    border-bottom: 1px solid #000000;
    padding-bottom: 29px;
    margin-top: 30px;
    max-width: 100%;
  }
}
@media screen and (max-width: 459px) {
  .composition__text {
    font-size: 14px;
    line-height: 129%;
    padding-bottom: 11px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 459px) {
  .composition__text:nth-child(2) {
    border-bottom: none;
    max-width: 210px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 459px) {
  .composition__text:nth-child(3) {
    padding-top: 16px;
    border-top: 1px solid #000000;
    margin-top: 11px;
  }
}
.composition__text-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  margin: 0;
  padding-bottom: 20px;
  max-width: 374px;
}
.composition__text-desc:nth-child(2) {
  max-width: 350px;
}
@media screen and (max-width: 1378px) {
  .composition__text-desc {
    max-width: 380px;
  }
}
@media screen and (max-width: 459px) {
  .composition__text-desc {
    font-size: 14px;
    line-height: 129%;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 459px) {
  .composition__text-desc:last-child {
    padding-bottom: 31px;
  }
}
.composition__description {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: space-between;
}
.composition__photo {
  width: 100%;
  max-width: 642px;
  max-height: 685px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
@media screen and (max-width: 1378px) {
  .composition__photo {
    max-width: 688px;
    margin: 60px 0 60px 0px;
  }
}
@media screen and (max-width: 459px) {
  .composition__photo {
    max-width: 280px;
    max-height: 278px;
    justify-self: center;
  }
}
.composition__main-principles {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  margin: 100px 0 0 0;
  grid-template-columns: repeat(4, 291px);
  gap: 56px;
}
@media screen and (max-width: 1378px) {
  .composition__main-principles {
    margin-top: 80px;
    display: block;
  }
}
@media screen and (max-width: 459px) {
  .composition__main-principles {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1378px) {
  .composition {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1378px) {
  .composition__paragraphs {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 459px) {
  .composition__paragraphs {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 459px) {
  .composition {
    padding: 40px 20px 20px 20px;
    margin: 0;
  }
}
.composition__span-accent {
  font-weight: 700;
}

.camera {
  background-color: #000000;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 78px 367px 387px 1fr;
}
.camera__section-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media screen and (max-width: 1400px) {
  .camera__section-name {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 604px) {
  .camera__section-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    margin-bottom: 29px;
  }
}
.camera__title {
  font-size: 122px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
}
@media screen and (max-width: 691px) {
  .camera__title {
    font-size: 70px;
    font-weight: 400;
    line-height: 100%;
  }
}
@media screen and (max-width: 604px) {
  .camera__title {
    font-size: 48px;
    line-height: 56px;
  }
}
.camera__title-items {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.camera__reviwers-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: end;
}
@media screen and (max-width: 1400px) {
  .camera__reviwers-title {
    align-self: start;
  }
}
@media screen and (max-width: 604px) {
  .camera__reviwers-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
  }
}
.camera__photo {
  width: 100%;
  max-width: 642px;
  max-height: 832px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
@media screen and (max-width: 1400px) {
  .camera__photo {
    max-width: 688px;
    max-height: 656px;
    margin: 60px 0 60px 0px;
  }
}
@media screen and (max-width: 604px) {
  .camera__photo {
    max-width: 280px;
    max-height: 268px;
  }
}
.camera__review-text {
  font-size: 43px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  min-width: 526px;
}
@media screen and (max-width: 1400px) {
  .camera__review-text {
    width: 526px;
  }
}
@media screen and (max-width: 604px) {
  .camera__review-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 108%;
    min-width: 280px;
    width: 100%;
  }
}
.camera__reviewer {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  color: #ffffff;
  margin: 60px 0 0 0;
}
@media screen and (max-width: 604px) {
  .camera__reviewer {
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
    margin-top: 30px;
  }
}
.camera__reviewer-instagram {
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  margin: 10px 0 0 0;
  color: #ffffff;
}
@media screen and (max-width: 604px) {
  .camera__reviewer-instagram {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 6px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 604px) {
  .camera__reviewer-instagram:last-child {
    padding-bottom: 0;
  }
}
.camera__review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 497px;
  margin: 180px 0 0 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.camera__review:last-child {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
@media screen and (max-width: 1400px) {
  .camera__review:last-child {
    border-top: 1px solid #ffffff;
    max-width: 100%;
    margin-top: 60px;
    padding-top: 60px;
  }
}
@media screen and (max-width: 604px) {
  .camera__review:last-child {
    margin-top: 30px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 604px) {
  .camera__review {
    margin-top: 60px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1400px) {
  .camera {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 604px) {
  .camera {
    padding: 40px 20px 20px 20px;
  }
}

.search-orders {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
}
.search-orders__section-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media screen and (max-width: 400px) {
  .search-orders__section-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
    padding-top: 20px;
    border-top: 1px solid #000000;
  }
}
.search-orders__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  margin: 78px 0 106px 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media screen and (max-width: 954px) {
  .search-orders__title {
    margin: 40px 0 0px 0;
  }
}
@media screen and (max-width: 400px) {
  .search-orders__title {
    font-size: 32px;
    line-height: 119%;
    margin: 28px 0 0 0;
  }
}
.search-orders__photo {
  width: 100%;
  max-width: 688px;
  max-height: 333px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media screen and (max-width: 954px) {
  .search-orders__photo {
    max-height: 360px;
    margin: 60px 0 60px 0px;
  }
}
@media screen and (max-width: 400px) {
  .search-orders__photo {
    max-width: 280px;
    max-height: 147px;
  }
}
.search-orders__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  padding-top: 25px;
  max-width: 380px;
  margin: 0;
}
@media screen and (max-width: 954px) {
  .search-orders__text {
    padding-top: 0;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 400px) {
  .search-orders__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 129%;
    margin-bottom: 30px;
  }
}
.search-orders__description {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: space-between;
  justify-self: end;
}
@media screen and (max-width: 954px) {
  .search-orders {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .search-orders {
    padding: 40px 20px 20px 20px;
  }
}

.footer {
  background-color: #df2626;
  padding: 50px;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
.footer__title {
  font-size: 120px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 120px;
  max-width: 690px;
}
@media screen and (max-width: 969px) {
  .footer__title {
    font-size: 100px;
    font-weight: 400;
    line-height: 105%;
    margin-bottom: 190px;
    max-width: 600px;
  }
}
@media screen and (max-width: 670px) {
  .footer__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 190px;
    max-width: 274px;
    padding-top: 19px;
    margin-bottom: 196px;
  }
}
.footer__copyright {
  font-size: 15px;
  font-weight: 700;
  line-height: 160%;
  color: #ffffff;
  margin: 0;
  margin-top: 86px;
}
@media screen and (max-width: 969px) {
  .footer__copyright {
    margin-top: 80px;
  }
}
@media screen and (max-width: 670px) {
  .footer__copyright {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 200%;
  }
}
.footer__email-input {
  background-color: #ffffff;
  border-right: none;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  padding: 0;
  width: 326px;
  height: 46px;
  border-radius: 8px 0px 0px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 20px;
  cursor: url(../images/cursor.svg), pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  letter-spacing: 0.375px;
}
.footer__email-input::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  max-width: 250px;
  letter-spacing: 0.375px;
}
.footer__email-input:-ms-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  max-width: 250px;
  letter-spacing: 0.375px;
}
.footer__email-input::placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  max-width: 250px;
  letter-spacing: 0.375px;
}
.footer__email-input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.footer__email-input:focus {
  outline: none;
}
.footer__email-input:focus:-webkit-input-placeholder {
  color: transparent;
}
.footer__email-input:focus::-moz-placeholder {
  color: transparent;
}
.footer__email-input:focus:-ms-input-placeholder {
  color: transparent;
}
@media screen and (max-width: 969px) {
  .footer__email-input {
    width: 324px;
  }
}
@media screen and (max-width: 670px) {
  .footer__email-input {
    width: 168px;
    font-size: 11px;
    font-weight: 400;
    line-height: 218%;
  }
}
@media screen and (max-width: 670px) {
  .footer__email-input::-moz-placeholder {
    font-size: 11px;
    font-weight: 400;
    line-height: 218%;
    max-width: 134px;
  }
  .footer__email-input:-ms-input-placeholder {
    font-size: 11px;
    font-weight: 400;
    line-height: 218%;
    max-width: 134px;
  }
  .footer__email-input::placeholder {
    font-size: 11px;
    font-weight: 400;
    line-height: 218%;
    max-width: 134px;
  }
}
.footer__enroll-container {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer__enroll-arrow {
  padding-top: 8px;
}
@media screen and (max-width: 969px) {
  .footer__enroll-arrow {
    display: none;
  }
}
@media screen and (max-width: 969px) {
  .footer {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 670px) {
  .footer {
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
  }
  .footer__title-container {
    border-top: 1px solid #ffffff;
  }
}/*# sourceMappingURL=index.css.map */